.addition{
    padding-top: 61px;
    padding-bottom: 80px;
    position: relative;
    overflow-x: hidden;
    isolation: isolate;
    @include media(768){
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 780px;
        height: 1px;
        background: linear-gradient(270deg, rgba(189, 189, 189, 0) 5.04%, #BDBDBD 49.71%, rgba(189, 189, 189, 0) 95.36%);
        @include media(768){
            width: 280px;
        }
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 265px;
        width: 384px;
        height: 384px;
        background: rgba(0, 45, 206, 0.61);
        opacity: 0.3;
        filter: blur(150px);
        z-index: -1;
        @include media(1200){
            right: 0;
        }
        @include media(992){
            width: 160px;
            height: 160px;
            background: #009ACE;
            opacity: 0.3;
            filter: blur(100px);
        }
    }
    &__top{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        @include media(992){
            align-items: flex-end;
        }
        @include media(768){
            margin-bottom: 20px;
        }
        &.enable-lg{
            .addition__title{
                @include media(992){
                    display: flex !important;
                }
            }
        }
        &.disable-lg{
            @include media(992){
                display: none;
            }
            .addition__title{
                display: block;
            }
        }
    }
    &__title{
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        text-transform: uppercase;
        color: #213564;
        display: none;
        @include media(768){
            font-size: 22px;
            line-height: 110%;
            max-width: 145px;
            width: 100%;
            position: relative;
            min-height: 80px;
            display: flex;
            align-items: flex-end;
        }
        img{
            margin-left: 3px;
            @include media(768){
                width: 74px;  
                position: absolute;
                top: 0px;
                right: 0;  
                object-fit: contain;
            }
        }
    }
    &__buttons{
        display: flex;
        align-items: center;
        column-gap: 20px;
        @include media(992){
            margin-bottom: 0;
            column-gap: 0;
        }
        &.enable-lg{
            display: none;
            @include media(992){
                display: flex;
            }
        }
        &.disable-lg{
            display: flex;
            @include media(992){
                display: none !important;
            }
        }
    }
    &__button{
        &-prev{
            cursor: pointer;
            width: 30px;
            min-width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFCE0A;
            border-radius: 50%;
            @include media(992){
                border: 1px solid #213564;
                background: none;
                margin-right: 10px;
            }
            &.swiper-button-disabled{
                cursor: auto;   
                border: 1px solid #213564;
                background: none;
            }
        }
        &-next{
            cursor: pointer;
            width: 30px;
            min-width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFCE0A;
            border-radius: 50%;
            @include media(992){
                border: 1px solid #213564;
                background: none;
            }
            &.swiper-button-disabled{
                cursor: auto;
                border: 1px solid #213564;
                background: none;
            }
        }
    }
    &__slider{
        width: 100%;
        position: relative;
        overflow: hidden;
        max-width: 840px;
        width: 100%;
        isolation: isolate;
        display: flex;
        flex-direction: column-reverse;
        @include media(992){
            display: flex;
            flex-direction: column-reverse;
        }
        &.disable-lg{
            display: block;
            @include media(992){
                display: none;
            }
        }
        &.enable-lg{
            display: none;
            @include media(992){
                display: block;
            }
        }
    }
    .swiper{
        width: 100%;
        overflow: hidden;
        &-wrapper{
            width: max-content;
            display: flex;
        }
        &-slide{
            width: max-content;
            img{
                object-fit: cover;
                object-position: center;
                line-height: 0;
                width: 100%;
            }
        }
    }
    &__row{
        display: flex;
        width: 100%;
    }
    &__right{
        max-width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include media(1200){
            max-width: 270px;
        }
        @include media(992){
            max-width: 100%;
        }
    }
    &__content{
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 5px 5px 20px rgba(33, 53, 100, 0.1);
        backdrop-filter: blur(5px);
        border-radius: 6px;
        padding: 80px;
        max-width: 480px;
        min-width: 480px;
        width: 100%;
        transform: translate(-140px, -70px);
        @include media(1200){
            padding: 40px;
            max-width: 400px;
            min-width: 400px;
        }
        @include media(992){
            transform: translate(0);
            max-width: 100%;
            min-width: 100%;
            background: none;
            box-shadow: none;
            backdrop-filter: blur(0px);
            border-radius: 0;
            padding: 0;
            margin-bottom: 30px;
        }
    }
    &__pagination{
        span{
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 2px;
            color: #333333;
        }
    }
    &__subtitle{
        font-weight: 700;
        font-size: 22px;
        line-height: 110%;
        color: #213564;
        margin-bottom: 20px;
        @include media(768){
            margin-bottom: 5px;
        }
    }
    &__desc{
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: #333333;
        margin-bottom: 40px;
        @include media(992){
            margin-bottom: 0;
        }
        @include media(768){
            font-size: 16px;
            line-height: 120%;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 12px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #213564;
        @include media(992){
            display: none;
        }
        svg{
            margin-left: 10px;
        }
    }
    .how__link{
        margin-left: auto;
        margin-right: 0;
        @include media(992){
            margin-right: auto;
        }
    }
    &__img{
        @include media(992){
            margin-bottom: 12px;
        }
        &.enable-lg{
            display: none;
            @include media(992){
                display: block;
            }
        }
        &.disable-lg{
            display: block;
            @include media(992){
                display: none;
            }
        }
    }
}