.asks{
    padding-bottom: 80px;
    @include media(1200){
        padding-bottom: 60px;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(1200){
            flex-direction: column-reverse;
        }
    }
    &__accordions{
        margin-right: 40px;
        width: 100%;
        @include media(1200){
            margin-right: 0;
        }
    }
    .accordion{
        padding-bottom: 18px;
        padding-top: 18px;
        border-bottom: 1px solid #DFDFDF;
        &:first-of-type{
            border-top: 1px solid #DFDFDF;
        }
        &__button{
            font-weight: 700;
            font-size: 18px;
            line-height: 110%;
            color: #213564;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-right: 5px;
            text-align: left;
            @include media(768){
                font-size: 16px;
                line-height: 110%;
            }
            &.active{
                .accordion__arrow{
                    background: #009ACE20;
                    transform: rotate(-45deg);
                }
            }
        }
        &__arrow{
            width: 30px;
            height: 30px;
            min-width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: 300ms ease;
        }
        &__content{
            display: none;
            padding-top: 12px;
            &.active{
                display: block;
            }
        }
        &__p{
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            color: #333333;
            @include media(768){
                font-size: 16px;
            }
        }
    }
    &__img{
        @include media(1200){
            margin-bottom: 20px;
            line-height: 0;
            max-width: 700px;
            width: 100%;
        }
        img{
            @include media(1200){
                width: 100%;
            }
        }
    }
}