.footer{
    background: #DAF2FF;
    padding-top: 70px;
    padding-bottom: 63px;
    @include media(992){
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__body{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        @include media(992){
            flex-direction: column;
        }
    }
    &__col{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @include media(992){
            flex-direction: row;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #FFFFFF;
        }
        &.first{
            align-items: flex-end;
        }
        &.last{
            justify-content: space-between;
            @include media(992){
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
                justify-content: flex-end;
            }
        }
        &-wrapper{
            width: 144px;
            &.list__mb{
                margin-bottom: 27px;
                @include media(992){
                    margin-bottom: 0;
                }
            }
        }
    }
    &__p{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #333333;
        max-width: 112px;
        width: 100%;
        margin-bottom: 8px;
    }
    &__a{
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #213564;
        display: block;
        &:nth-of-type(3){
            margin-bottom: 8px !important;
        }
    }
    &__policy{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #333333;
    }
    &__li{
        width: max-content;
        &.mb{
            @include media(992){
                margin-bottom: 16px;
            }
        }
        &:not(:last-of-type){
            margin-bottom: 27px;
            @include media(992){
                margin-bottom: 0;
            }
        }
    }
    &__link{
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #213564;
    }
    &__medias{
        display: flex;
    }
    &__media{
        margin-bottom: 17px;
        display: block;
        @include media(992){
            margin-bottom: 0;
        }
        &:first-of-type{
            margin-right: 20px;
        }
    }
    &__download{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include media(992){
            flex-direction: row;
            align-items: flex-start;
        }
        &.disable-lg{
            @include media(992){
                display: none;
            }
        }
        &.enable-lg{
            display: none;
            @include media(992){
                display: flex;
            }
        }
        svg{
            margin-bottom: 8px;
            @include media(992){
                margin-bottom: 0;
                margin-right: 10px;
            }
        }
        &-p{
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            text-align: right;
            color: #213564;
            width: max-content;
            @include media(992){
                text-align: left;
                max-width: 80px;
                width: 100%;
            }
        }
    }
    &__form{
        max-width: 415px;
        width: 100%;
        @include media(1200){
            max-width: 310px;
        }
        @include media(992){
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #FFFFFF;
            max-width: 100%;
        }
    }
    &__subtitle{
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #213564;
        margin-bottom: 5px;
    }
    &__desc{
        font-weight: 700;
        font-size: 15px;
        line-height: 120%;
        color: #213564;
        margin-bottom: 20px;
    }
    &__row{
        display: flex;
        align-items: stretch;
        margin-bottom: 10px;
    }
    &__input{
        background: none;
        border: none;
        border-bottom: 1px solid #213564;
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 15px;
        line-height: 23px;
        color: #333333;
        @include media(992){
            padding-right: 10px;
        }
        &::placeholder{
            font-weight: 500;
            font-size: 15px;
            line-height: 23px;
            color: #333333;
        }
    }
    &__btn{
        font-weight: 700;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        width: 136px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #213564;
        border: 2px solid transparent;
        border-radius: 500px;
        transition: 300ms ease;
        @include media(992){
            width: 40px;
            height: 40px;
        }
        &:hover{
            color: #213564;
            background: transparent;
            border: 2px solid #213564;
            svg{
                path{
                    stroke: #213564;
                }
            }
        }
        svg{
            path{
                transition: 300ms ease;
                stroke: #fff;
            }
        }
        &.disable-lg{
            @include media(992){
                display: none;
            }
        }
        &.enable-lg{
            display: none;
            @include media(992){
                display: flex;
            }
        }
    }
    &__checkboxes{
        display: flex;
        align-items: flex-start;
    }
    &__checkbox{
        margin-right: 10px;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        border: 1px solid #213564;
        border-radius: 2px;
        background: transparent;
        min-width: 18px;
        width: 18px;
        height: 18px;
        transition: 300ms ease;
        box-shadow: none !important;
        &:checked {
            background: url(../img/checkbox-tick.png) center / contain no-repeat;
            width: 18px;
            height: 18px;
            box-shadow: none !important;
            outline: none;
            border: 1px solid #213564;
        }
    }
    &__label{
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: #757575;
        max-width: 330px;
        width: 100%;
        a{
            color: #757575;
            text-decoration: underline;
        }
    }
    &__logo{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-p{
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: right;
            color: #333333;
        }
        &-img{
            margin-left: 6px;
        }
    }
}