.how{
    padding-bottom: 80px;
    position: relative;
    isolation: isolate;
    overflow-x: hidden;
    @include media(1200){
        padding-bottom: 60px;
    }
    &::before{
        content: '';
        position: absolute;
        width: 328px;
        height: 328px;
        left: 600px;
        bottom: 225px;
        background: rgba(0, 45, 206, 0.61);
        opacity: 0.3;
        filter: blur(150px);
        border-radius: 50%;
        z-index: -1;
        @include media(992){
            width: 205px;
            height: 205px;
            right: -56px;
            left: auto;
        }
    }
    &::after{
        content: '';
        position: absolute;
        width: 418px;
        height: 418px;
        background: #009ACE;
        opacity: 0.3;
        filter: blur(150px);
        border-radius: 50%;
        bottom: 0;
        left: 300px;
        z-index: -1;
        @include media(992){
            display: none;
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        @include media(992){
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__title{
        font-weight: 500;
        font-size: 64px;
        line-height: 100%;
        text-transform: uppercase;
        color: #213564;
        margin-right: 15px;
        @include media(992){
            font-size: 46px;
        }
    }
    &__figure{
        margin-right: 20px;
        @include media(1400){
            max-width: 600px;
            width: 100%;
        }
        @include media(1200){
            max-width: 415px;
        }
        @include media(992){
            max-width: 100%;
        }
        @include media(575){
            margin-left: -20px;
            margin-right: -20px;
            width: calc(100% + 40px);
            max-width: calc(100% + 40px);
        }
        img{
            width: 100%;
        }
    }
    &__link{
        display: flex;
        align-items: center;
        @include media(992){
            justify-content: center;
        }
        @include media(768){
            flex-direction: column;
        }
        &.disable-lg{
            @include media(992){
                display: none;
            }
        }
        &.enable-lg{
            display: none;
            @include media(992){
                display: flex;
            }
        }
        &-p{
            margin-left: 17px;
            font-weight: 700;
            font-size: 12px;
            line-height: 120%;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #213564;  
            @include media(768){
                margin-left: 0;
                margin-top: 10px;
                text-align: center;
            }          
        }
    }
    &__content{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include media(992){
            flex-direction: column;
            align-items: stretch;
        }
    }
    &__item{
        &.disable-lg{
            @include media(992){
                display: none;
            }
        }
        &.active{
            margin-right: 60px;
            @include media(1400){
                max-width: 700px;
                width: 100%;
            }
            @include media(992){
                margin-bottom: 24px;
            }
            .how__img{
                margin-bottom: 30px;
                width: 100%;
                @include media(992){
                    margin-bottom: 12px;
                }
                img{
                    width: 100%;
                }
            }
            .how__subtitle{
                font-size: 40px;
                line-height: 100%;
                margin-bottom: 10px;
                text-transform: uppercase;
                @include media(992){
                    font-size: 22px;
                    line-height: 110%;
                    margin-bottom: 5px;
                    text-transform: none;
                }
            }
            .how__desc{
                font-size: 22px;
                line-height: 120%;
                @include media(992){
                    font-size: 16px;
                    line-height: 120%;
                }
            }
        }
    }
    &__img{
        position: relative;
        isolation: isolate;
        @include media(992){
            margin-bottom: 12px;
        }
    }
    &__subtitle{
        font-weight: 700;
        font-size: 22px;
        line-height: 110%;
        color: #213564;
    }
    &__desc{
        font-weight:500;
        font-size: 18px;
        line-height: 120%;
        color: #333333;
        @include media(992){
            font-size: 16px;
            line-height: 120%;
        }
    }
    &__wrapper{
        flex: 1 1 auto;
        .how__item{
            width: 100%;
            &:not(:last-of-type){
                margin-bottom: 30px;
            }
        }
        .how__img{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    &__play{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        @include media(768){
            max-width: 50px;
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
}