.intro{
    height: 100vh;
    margin-top: -80px;
    background: url(../img/intro-banner.png) center / cover no-repeat;
    position: relative;
    @include media(1200){
        margin-top: -87px;
    }
    @include media(575){
        padding-top: 120px;
        padding-bottom: 65px;
        height: max-content;
        margin-top: -58px;
        background: url(../img/intro-banner.png)no-repeat;
        background-position: 60% 100% !important;
        background-size: cover !important;
    }
    &::before{
        content: '';
        position: absolute;
        height: 100%;
        background: linear-gradient(90deg, #94C2DC 6.22%, rgba(255, 255, 255, 0) 85.16%);
        width: 50%;
        top: 0;
    }
    &__body{
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__content{
        position: relative;
        isolation: isolate;
        @include media(575){
            max-width: 320px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        &::before{
            content: '';
            position: absolute;
            background: url(../img/intro-img.svg) center / contain no-repeat;
            width: 310px;
            height: 240px;
            top: 0;
            right: 15px;
            z-index: 1;
            @include media(575){
                width: 202px;
                height: 157px;
                top: 10px;
                right: 30px;
            }
            @include media(375){
                right: 0px;
            }
        }
    }
    &__title{
        display: flex;
        flex-direction: column;
        font-weight: 400;
        font-size: 23px;
        line-height: 23px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #213564;
        position: relative;
        width: max-content;
        isolation: isolate;
        margin-bottom: 28px;
        @include media(575){
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 18px;
        }
        &::before{
            content: '';
            position: absolute;
            width: 190px;
            height: 2px;
            background: url(../img/intro-dots.svg) center / cover no-repeat;
            z-index: -1;
            bottom: 0;
            @include media(575){
                width: 153px;
            }
        }
        img{
            margin-bottom: 5px;
            max-width: 238px;
            width: 100%;
            object-fit: cover;
            line-height: 0;
            @include media(575){
                max-width: 155px;
            }
        }
    }
    &__percent{
        margin-bottom: 105px;
        @include media(575){
            max-width: 70px;
            width: 100%;
            margin-bottom: 78px;
        }
        img{
            @include media(575){
                width: 100%;
            }
        }
    }
    &__desc{
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        color: #213564;
        max-width: 435px;
        width: 100%;
        margin-bottom: 30px;
        @include media(575){
            font-size: 18px;
            line-height: 120%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
        }
    }
    &__buttons{
        display: flex;
        align-items: stretch;
        @include media(575){
            flex-direction: column;
            max-width: 220px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__btn{
        padding: 13px 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        background: #213564;
        border-radius: 500px;
        border: 2px solid #213564;
        transition: 300ms ease;
        position: relative;
        isolation: isolate;
        z-index: 1;
        overflow: hidden;
        @include media(575){
            padding: 13px auto 10px;
            font-size: 15px;
        }
        &:first-of-type{
            margin-right: 20px;
            @include media(575){
                margin-right: 0;
                margin-bottom: 15px;
            }
            &:hover{
                background: #FFCE0A;
                color: #213564;
                border: 2px solid transparent;
                &::before{
                    height: 0;
                }
            }
        }
        &:last-of-type{
            border: 2px solid #213564;
            background: none;
            color: #213564;
            &:hover{
                color: #213564;
                background: #FFCE0A;
                border: 2px solid transparent;
            }
        }
    }
}