mixin about()
    .about 
        .about__body.container 
            .about__left
                p.about__title Comfort 1,8% Parmalat Professional
                p.about__desc Молоко питьевое безлактозное ультрапастеризованное
                .about__items 
                    .about__item 
                        .about__item-img 
                            img(src="@img/about-icon-1.svg", alt="" draggable="false")
                        p.about__item-p Не содержит лактозы
                    .about__item 
                        .about__item-img 
                            img(src="@img/about-icon-2.svg", alt="" draggable="false")
                        p.about__item-p Устойчивая мелкопористая пена
                    .about__item 
                        .about__item-img 
                            img(src="@img/about-icon-3.svg", alt="" draggable="false")
                        p.about__item-p Естественная сладость
                .about__content 
                    .about__content-left 
                        .about__img 
                            img(src="@img/about-img.svg", alt="" draggable="false")
                        a(href="#!").about__download 
                            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="50" height="50" rx="25" fill="#213564"/>
                                <path d="M20.0615 24.1718L25.454 28.9189L30.8003 24.1718" stroke="white" stroke-width="1.38267" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M25.4541 16.9818V28.6884" stroke="white" stroke-width="1.38267" stroke-linecap="round" stroke-linejoin="round"/>
                                <rect x="18" y="34" width="15" height="1" fill="white"/>
                            </svg>
                            p.about__download-p скачать спецификацию
                    ul.about__list
                        li.about__li Массовая доля жира #[p 1,8 %]
                        li.about__li ТУ #[p 10.51.11-070-00425662-2019]
                        li.about__li Объём #[p 1000 мл]
                        li.about__li Состав #[p Нормализованное молоко]
                        li.about__li Жиры #[p 1,8 г]
                        li.about__li Белки #[p 3,0г]
                        li.about__li Углеводы #[p 4,7 г (лактозы 0,01 г)]
                        li.about__li Энергетическая ценность #[p 197 кДж/47 ккал]
                        li.about__li.lg Условия хранения #[p От +2°С до +25°С. После вскрытия хранить 48 часов при +4±2°С]
                        li.about__li.lg Особенности #[p Из-за отсутствия лактозы имеет сладковатый вкус и может дать карамельный оттенок, что является нормой и не влияет на безопасность продукта]
            .about__right 
                p.about__subtitle ВСЕ продукты Parmalat Professional
                .about__slider.slider 
                    .about__swiper.swiper 
                        .about__swiper-wrapper.swiper-wrapper 
                            .about__slide.swiper-slide
                                .about__slide-img 
                                    img(src="@img/about-slide-1.svg", alt="" draggable="false")
                                p.about__slide-p Молоко 3,5%
                            .about__slide.swiper-slide
                                .about__slide-img 
                                    img(src="@img/about-slide-1.svg", alt="" draggable="false")
                                p.about__slide-p Молоко 3,5%
                            .about__slide.swiper-slide
                                .about__slide-img 
                                    img(src="@img/about-slide-1.svg", alt="" draggable="false")
                                p.about__slide-p Молоко 3,5%
                    .about__buttons 
                        .swiper-button-prev.about__button-prev
                            img(src="@img/arrow-prev.svg", alt="" draggable="false")
                        .swiper-button-next.about__button-next
                            img(src="@img/arrow-next.svg", alt="" draggable="false")