mixin addition()
    .addition
        .addition__body.container 
            .addition__top.disable-lg 
                h2.addition__title Еще рецепты #[img(src="../img/addition-butterfly.svg", alt="" draggable="false")]
            .addition__row 
                .addition__slider.slider.disable-lg 
                    .addition__swiper.swiper 
                        .addition__swiper-wrapper.swiper-wrapper    
                            .addition__slide.swiper-slide 
                                .addition__img 
                                    img(src="@img/addition-img.svg", alt="" draggable="false")
                            .addition__slide.swiper-slide 
                                .addition__img 
                                    img(src="@img/addition-img.svg", alt="" draggable="false")
                            .addition__slide.swiper-slide 
                                .addition__img 
                                    img(src="@img/addition-img.svg", alt="" draggable="false")
                            .addition__slide.swiper-slide 
                                .addition__img 
                                    img(src="@img/addition-img.svg", alt="" draggable="false")
                            .addition__slide.swiper-slide 
                                .addition__img 
                                    img(src="@img/addition-img.svg", alt="" draggable="false")
                .addition__right 
                    .addition__content
                        .addition__slider.addition__slider-two.slider 
                            .addition__swiper.addition__swiper-two.swiper                               
                                .addition__swiper-wrapper.swiper-wrapper
                                    .addition__slide.swiper-slide  
                                        .addition__img.enable-lg 
                                            img(src="@img/addition-img.svg", alt="" draggable="false")
                                        p.addition__subtitle Кортадо наоборот
                                        p.addition__desc Обратный способ приготовления помогает сделать ваш кортадо особенным и выделить среди других крепких кофейно-молочных напитков, предлагаемых у конкурентов.
                                        a(href="#!").addition__link На страницу рецепта 
                                            <svg width="20" height="9" viewBox="0 0 20 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_9_250)">
                                                <path d="M0 4.5H19" stroke="#213564"/>
                                                <path d="M15 8L19 4.5L15 1" stroke="#213564" stroke-linecap="round"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_9_250">
                                                <rect width="20" height="9" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                    .addition__slide.swiper-slide
                                        .addition__img.enable-lg 
                                            img(src="@img/addition-img.svg", alt="" draggable="false") 
                                        p.addition__subtitle Кортадо наоборот
                                        p.addition__desc Обратный способ приготовления помогает сделать ваш кортадо особенным и выделить среди других крепких кофейно-молочных напитков, предлагаемых у конкурентов.
                                        a(href="#!").addition__link На страницу рецепта 
                                            <svg width="20" height="9" viewBox="0 0 20 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_9_250)">
                                                <path d="M0 4.5H19" stroke="#213564"/>
                                                <path d="M15 8L19 4.5L15 1" stroke="#213564" stroke-linecap="round"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_9_250">
                                                <rect width="20" height="9" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                    .addition__slide.swiper-slide 
                                        .addition__img.enable-lg 
                                            img(src="@img/addition-img.svg", alt="" draggable="false") 
                                        p.addition__subtitle Кортадо наоборот
                                        p.addition__desc Обратный способ приготовления помогает сделать ваш кортадо особенным и выделить среди других крепких кофейно-молочных напитков, предлагаемых у конкурентов.
                                        a(href="#!").addition__link На страницу рецепта 
                                            <svg width="20" height="9" viewBox="0 0 20 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_9_250)">
                                                <path d="M0 4.5H19" stroke="#213564"/>
                                                <path d="M15 8L19 4.5L15 1" stroke="#213564" stroke-linecap="round"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_9_250">
                                                <rect width="20" height="9" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                    .addition__slide.swiper-slide
                                        .addition__img.enable-lg 
                                            img(src="@img/addition-img.svg", alt="" draggable="false") 
                                        p.addition__subtitle Кортадо наоборот
                                        p.addition__desc Обратный способ приготовления помогает сделать ваш кортадо особенным и выделить среди других крепких кофейно-молочных напитков, предлагаемых у конкурентов.
                                        a(href="#!").addition__link На страницу рецепта 
                                            <svg width="20" height="9" viewBox="0 0 20 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_9_250)">
                                                <path d="M0 4.5H19" stroke="#213564"/>
                                                <path d="M15 8L19 4.5L15 1" stroke="#213564" stroke-linecap="round"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_9_250">
                                                <rect width="20" height="9" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg>
                                    .addition__slide.swiper-slide
                                        .addition__img.enable-lg 
                                            img(src="@img/addition-img.svg", alt="" draggable="false") 
                                        p.addition__subtitle Кортадо наоборот
                                        p.addition__desc Обратный способ приготовления помогает сделать ваш кортадо особенным и выделить среди других крепких кофейно-молочных напитков, предлагаемых у конкурентов.
                                        a(href="#!").addition__link На страницу рецепта 
                                            <svg width="20" height="9" viewBox="0 0 20 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_9_250)">
                                                <path d="M0 4.5H19" stroke="#213564"/>
                                                <path d="M15 8L19 4.5L15 1" stroke="#213564" stroke-linecap="round"/>
                                                </g>
                                                <defs>
                                                <clipPath id="clip0_9_250">
                                                <rect width="20" height="9" fill="white"/>
                                                </clipPath>
                                                </defs>
                                            </svg> 
                            .addition__top.enable-lg 
                                h2.addition__title Еще рецепты #[img(src="../img/addition-butterfly.svg", alt="" draggable="false")]
                                .addition__buttons.enable-lg 
                                    .swiper-button-prev.addition__button-prev
                                        img(src="@img/arrow-prev.svg", alt="" draggable="false")
                                    .swiper-button-next.addition__button-next
                                        img(src="@img/arrow-next.svg", alt="" draggable="false") 
                                .addition__buttons.disable-lg 
                                    .swiper-button-prev.addition__button-prev
                                        img(src="@img/arrow-prev.svg", alt="" draggable="false")
                                    .swiper-pagination.addition__pagination
                                    .swiper-button-next.addition__button-next
                                        img(src="@img/arrow-next.svg", alt="" draggable="false")
                    a(href="#!").how__link
                        .how__link-img 
                            img(src="@img/recipes-pitcher.svg", alt="" draggable="false")
                        p.how__link-p все рецепты