mixin asks()
    .asks 
        .asks__body.container 
            .asks__accordions    
                .asks__accordion.accordion 
                    button(type="button").accordion__button.first Что такое лактоза и почему она плохо усваивается?
                        .accordion__arrow
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 10H19" stroke="#213564" stroke-linecap="square"/>
                                <path d="M10 1V19" stroke="#213564" stroke-linecap="square"/>
                            </svg>
                    .accordion__content 
                        p.accordion__p Лактоза — это сахар, который содержится в молочных продуктах. Обычно организм расщепляет его на части, но если у человека не вырабатываются нужные для этого вещества, лактоза не усваивается и может вызвать дискомфорт (чувство тяжести, вздутие). По статистике с этой проблемой сталкиваются 34% россиян.    
                .asks__accordion.accordion 
                    button(type="button").accordion__button Кому рекомендовать молоко Comfort 1,8% Parmalat Professional?
                        .accordion__arrow
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 10H19" stroke="#213564" stroke-linecap="square"/>
                                <path d="M10 1V19" stroke="#213564" stroke-linecap="square"/>
                            </svg>
                    .accordion__content 
                        p.accordion__p Лактоза — это сахар, который содержится в молочных продуктах. Обычно организм расщепляет его на части, но если у человека не вырабатываются нужные для этого вещества, лактоза не усваивается и может вызвать дискомфорт (чувство тяжести, вздутие). По статистике с этой проблемой сталкиваются 34% россиян.
                .asks__accordion.accordion 
                    button(type="button").accordion__button Как увеличить средний чек и повысить лояльность гостей?
                        .accordion__arrow
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 10H19" stroke="#213564" stroke-linecap="square"/>
                                <path d="M10 1V19" stroke="#213564" stroke-linecap="square"/>
                            </svg>
                    .accordion__content 
                        p.accordion__p Лактоза — это сахар, который содержится в молочных продуктах. Обычно организм расщепляет его на части, но если у человека не вырабатываются нужные для этого вещества, лактоза не усваивается и может вызвать дискомфорт (чувство тяжести, вздутие). По статистике с этой проблемой сталкиваются 34% россиян.
                .asks__accordion.accordion 
                    button(type="button").accordion__button 5 преимуществ молока Comfort 1,8% Parmalat Professional для бариста
                        .accordion__arrow
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 10H19" stroke="#213564" stroke-linecap="square"/>
                                <path d="M10 1V19" stroke="#213564" stroke-linecap="square"/>
                            </svg>
                    .accordion__content 
                        p.accordion__p Лактоза — это сахар, который содержится в молочных продуктах. Обычно организм расщепляет его на части, но если у человека не вырабатываются нужные для этого вещества, лактоза не усваивается и может вызвать дискомфорт (чувство тяжести, вздутие). По статистике с этой проблемой сталкиваются 34% россиян.
            .asks__img 
                img(src="@img/asks-img.svg", alt="" draggable="false")