mixin how()
    .how 
        .how__body.container 
            .how__top 
                h2.how__title HOW TO?
                .how__figure 
                    img(src="@img/how-figure.svg", alt="" draggable="false")
                a(href="https://www.youtube.com/@latteparmalat").how__link.disable-lg
                    .how__link-img 
                        img(src="@img/how-camera.svg", alt="" draggable="false")
                    p.how__link-p все видео
            .how__content 
                .how__item.active 
                    .how__img 
                        img(src="@img/how-img-1.svg", alt="" draggable="false")
                        a(href="https://www.youtube.com/@latteparmalat").how__play 
                            img(src="@img/how-pause.svg", alt="" draggable="false")
                    p.how__subtitle Как сделать плотную пену
                    p.how__desc Мастер-класс за 60 секунд
                .how__wrapper
                    .how__item 
                        .how__img 
                            img(src="@img/how-img-2.svg", alt="" draggable="false")
                            a(href="https://www.youtube.com/@latteparmalat").how__play 
                                img(src="@img/how-pause.svg", alt="" draggable="false")
                        p.how__subtitle Техника создания latte-art
                        p.how__desc Мастер-класс от бариста
                    .how__item 
                        .how__img 
                            img(src="@img/how-img-3.svg", alt="" draggable="false")
                            a(href="https://www.youtube.com/@latteparmalat").how__play 
                                img(src="@img/how-pause.svg", alt="" draggable="false")
                        p.how__subtitle Как правильно делать латте
                        p.how__desc Инструкция за 60 секунд
                    .how__item.disable-lg  
                        .how__img 
                            img(src="@img/how-img-4.svg", alt="" draggable="false")
                            a(href="https://www.youtube.com/@latteparmalat").how__play 
                                img(src="@img/how-pause.svg", alt="" draggable="false")
                        p.how__subtitle Латте Малина
                        p.how__desc Трендовый напиток от Полины Нотик
                    .how__item.disable-lg 
                        .how__img 
                            img(src="@img/how-img-5.svg", alt="" draggable="false")
                            a(href="https://www.youtube.com/@latteparmalat").how__play 
                                img(src="@img/how-pause.svg", alt="" draggable="false")
                        p.how__subtitle Кортадо наоборот
                        p.how__desc Авторский рецепт
            a(href="https://www.youtube.com/@latteparmalat").how__link.enable-lg
                .how__link-img 
                    img(src="@img/how-camera.svg", alt="" draggable="false")
                p.how__link-p все видео