mixin intro()
    .intro 
        .intro__body.container 
            .intro__content 
                h1.intro__title #[img(src="@img/intro-title.svg", alt="" draggable="false")] безлактозное
                p.intro__percent
                    img(src="@img/intro-percent.svg", alt="" draggable="false")
                p.intro__desc Молоко Comfort позволяет кофейням почти на треть увеличить количество гостей. Узнайте, как.
                .intro__buttons 
                    a(href="#!").intro__btn.bg Хочу попробовать! 
                    a(href="#!").intro__btn Рецепты с молоком 1,8%