mixin preparing()
    .preparing 
        .preparing__body.container 
            .preparing__top.recipes__row
                .recipes__texts 
                    p.recipes__subtitle Кортадо наоборот
                    p.recipes__desc Обратный способ приготовления помогает сделать ваш кортадо особенным и выделить среди других крепких кофейно-молочных напитков, предлагаемых у конкурентов.
                .recipes__profile 
                    .recipes__profile-img 
                        img(src="@img/recipes-girl.svg", alt="" draggable="false")
                    .recipes__profile-info 
                        p.recipes__profile-name Полина Нотик
                        p.recipes__profile-p Двукратный чемпион России по Latte Art (2014, 2017), пятикратный чемпион московского чемпионата Latte Art
            .preparing__img 
                img(src="@img/addition-img.svg", alt="" draggable="false")
            .recipes__bottom 
                .preparing__left 
                    ul.recipes__list
                        p.recipes__list-title Ингредиенты
                        li.recipes__li Молоко Comfort 1,8% Parmalat Professional #[p 160 мл]
                        li.recipes__li 2 порции эспрессо #[p 40 мл] 
                    .recipes__infos.enable-md 
                        p.recipes__info Lifehacks #[img(src="@img/recipes-quotes.svg", alt="" draggable="false")]
                        p.recipes__text Сначала надо влить молоко и только потом добавить эспрессо. Когда гость сделает первый глоток, он почувствует сладость взбитой молочной пены, а затем — вкус крепкого кофе. Получается яркий контрастный вкусовой эффект слоеного напитка.
                    .recipes__items 
                        p.recipes__list-title Приготовление
                        .recipes__item 
                            .recipes__item-img 
                                img(src="@img/recipes-img-1.svg", alt="" draggable="false")
                            .recipes__item-content 
                                p.recipes__item-subtitle Шаг 1
                                p.recipes__item-p Приготовить эспрессо.
                        .recipes__item 
                            .recipes__item-img 
                                img(src="@img/recipes-img-2.svg", alt="" draggable="false")
                            .recipes__item-content 
                                p.recipes__item-subtitle Шаг 2
                                p.recipes__item-p Взбить молоко при 55-65 °С до образования мелкопористой устойчивой пены.
                        .recipes__item 
                            .recipes__item-img 
                                img(src="@img/preparing-img-3.svg", alt="" draggable="false")
                            .recipes__item-content 
                                p.recipes__item-subtitle Шаг 3
                                p.recipes__item-p Держа бокал под наклоном, влить половину взбитого молока.
                        .recipes__item 
                            .recipes__item-img 
                                img(src="@img/preparing-img-4.svg", alt="" draggable="false")
                            .recipes__item-content 
                                p.recipes__item-subtitle Шаг 4
                                p.recipes__item-p Эспрессо влить в центр молочной пены так, чтобы образовалась темная точка. Долить остатки молока, формируя сердечко в технике Latte Art.
                .preparing__right 
                    .recipes__infos.disable-md 
                        p.recipes__info Lifehacks #[img(src="@img/recipes-quotes.svg", alt="" draggable="false")]
                        p.recipes__text Сначала надо влить молоко и только потом добавить эспрессо. Когда гость сделает первый глоток, он почувствует сладость взбитой молочной пены, а затем — вкус крепкого кофе. Получается яркий контрастный вкусовой эффект слоеного напитка.
                    .preparing__content 
                        p Молоко Comfort сбалансирует вкус кофейных зерен за счет натуральной сладости. Одинаково хорошо работает с горькими сортами кофе для эспрессо и с элитными моносортами, например, Эфиопия и Колумбия.