mixin recipe()
    .recipe
        .recipe__body.container 
            h2.recipe__title рецепты
            .recipe__content 
                .recipe__item
                    .recipe__img     
                        img(src="@img/recipe-img-1.svg", alt="" draggable="false")
                    p.recipe__subtitle Малиновый латте
                    p.recipe__desc Малиновый латте — трендовый напиток, который можно встретить во многих кофейнях и ресторанах.
                .recipe__item
                    .recipe__img     
                        img(src="@img/recipe-img-2.svg", alt="" draggable="false")
                    p.recipe__subtitle Кортадо наоборот
                    p.recipe__desc Обратный способ приготовления помогает сделать ваш кортадо особенным и выделить среди других крепких кофейно-молочных напитков, предлагаемых у конкурентов.