mixin recipes()
    .recipes 
        .recipes__body.container 
            .how__top 
                h2.how__title рецепты
                .how__figure 
                    img(src="@img/how-figure.svg", alt="" draggable="false")
                a(href="recipes.html").how__link.disable-lg
                    .how__link-img 
                        img(src="@img/recipes-pitcher.svg", alt="" draggable="false")
                    p.how__link-p все рецепты
            .recipes__row 
                .recipes__profile 
                    .recipes__profile-img 
                        img(src="@img/recipes-girl.svg", alt="" draggable="false")
                    .recipes__profile-info 
                        p.recipes__profile-name Полина Нотик
                        p.recipes__profile-p Двукратный чемпион России по Latte Art (2014, 2017), пятикратный чемпион московского чемпионата Latte Art
                .recipes__texts 
                    p.recipes__subtitle Малиновый латте
                    p.recipes__desc Малиновый латте — трендовый напиток, который можно встретить во многих кофейнях и ресторанах.
            .recipes__img 
                img(src="@img/recipes-img.svg", alt="" draggable="false")
            ul.recipes__list.enable-md
                p.recipes__list-title Ингредиенты
                li.recipes__li Молоко Comfort 1,8% Parmalat Professional #[p 250 мл]
                li.recipes__li Эспрессо #[p 20 мл]
                li.recipes__li Малина сублимированная #[p 5 г]
            .recipes__bottom 
                .recipes__left 
                    ul.recipes__list.disable-md
                        p.recipes__list-title Ингредиенты
                        li.recipes__li Молоко Comfort 1,8% Parmalat Professional #[p 250 мл]
                        li.recipes__li Эспрессо #[p 20 мл]
                        li.recipes__li Малина сублимированная #[p 5 г]
                    .recipes__infos 
                        p.recipes__info #[img(src="@img/recipes-quotes.svg", alt="" draggable="false")] Lifehacks
                        p.recipes__text Мы используем только три ингредиента: кофе, безлактозное молоко Parmalat Comfort и сублимированную малину. Именно молоко Parmalat Comfort придаёт естественную сладость, а также балансирует вкус кофе. Поэтому напиток становится более привлекательным для гостей, которые следуют тренду здорового образа жизни. Заметим, что молоко Comfort при смешивании с кислыми ингредиентами не сворачивается, что является его безусловным преимуществом. Если же вы нагреете обычное молоко и добавите в него сублимированную малину, оно, вероятнее всего, свернется.
                .recipes__items 
                    p.recipes__list-title Приготовление
                    .recipes__item 
                        .recipes__item-img 
                            img(src="@img/recipes-img-1.svg", alt="" draggable="false")
                        .recipes__item-content 
                            p.recipes__item-subtitle Шаг 1
                            p.recipes__item-p Приготовить эспрессо.
                    .recipes__item 
                        .recipes__item-img 
                            img(src="@img/recipes-img-2.svg", alt="" draggable="false")
                        .recipes__item-content 
                            p.recipes__item-subtitle Шаг 2
                            p.recipes__item-p Взбить молоко при 55-65 °С до образования мелкопористой устойчивой пены.
                    .recipes__item 
                        .recipes__item-img 
                            img(src="@img/recipes-img-3.svg", alt="" draggable="false")
                        .recipes__item-content 
                            p.recipes__item-subtitle Шаг 3
                            p.recipes__item-p Половину малины насыпать в стакан.
                    .recipes__item 
                        .recipes__item-img 
                            img(src="@img/recipes-img-4.svg", alt="" draggable="false")
                        .recipes__item-content 
                            p.recipes__item-subtitle Шаг 4
                            p.recipes__item-p Поверх малины налить половину взбитого молока Comfort.
                    .recipes__item 
                        .recipes__item-img 
                            img(src="@img/recipes-img-5.svg", alt="" draggable="false")
                        .recipes__item-content 
                            p.recipes__item-subtitle Шаг 5
                            p.recipes__item-p Посыпать молочную пену небольшим количеством малины.
                    .recipes__item 
                        .recipes__item-img 
                            img(src="@img/recipes-img-6.svg", alt="" draggable="false")
                        .recipes__item-content 
                            p.recipes__item-subtitle Шаг 6
                            p.recipes__item-p Долить оставшееся молоко.
                    .recipes__item 
                        .recipes__item-img 
                            img(src="@img/recipes-img-7.svg", alt="" draggable="false")
                        .recipes__item-content 
                            p.recipes__item-subtitle Шаг 7
                            p.recipes__item-p Влить эспрессо. В результате он зафиксируется между двумя слоями молока.
                    .recipes__item 
                        .recipes__item-img 
                            img(src="@img/recipes-img-8.svg", alt="" draggable="false")
                        .recipes__item-content 
                            p.recipes__item-subtitle Шаг 8
                            p.recipes__item-p Украсить готовый латте остатками малиновой пудры.