mixin technique()
    .technique 
        .technique__body.container 
            a(href="videos.html").how__link
                .how__link-img 
                    img(src="@img/how-camera.svg", alt="" draggable="false")
                p.how__link-p все видео
            .technique__row 
                .technique__content 
                    p.technique__subtitle Техника вливания молока
                    p.technique__desc Посмотрите наше видео — и вы научитесь технике вливания молока, которая позволяет быстро и легко получать фантастически красивые, аккуратные и модные сердечки. И вам не придется тратить время на рисование сердечек и цветочков палочкой из кофейной точки.
                .technique__img  
                    img(src="@img/technique-img.svg", alt="" draggable="false")
                    a(href="https://www.youtube.com/@latteparmalat").technique__link
                        img(src="@img/how-pause.svg", alt="" draggable="false") 
